* {
  font-family: 'Montserrat Alternates', sans-serif;
}
a {
  text-decoration: none;
}

/* Header */
.header {
  background-color: #29292a;
}
.navbar-nav {
  gap: 20px;
}
.header .navbar-brand {
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.5s;
}
.header .nav-link {
  transition: all 0.5s;
}
.header .navbar-dark .navbar-nav .nav-link:hover,
.header .navbar-dark .navbar-brand:hover {
  color: #2953e8;
}
.nav-link.active {
  font-weight: bold;
  color: #2953e8 !important;
}

/* Product Item */
.product-list .product-item {
  border: none;
  overflow: hidden;
}
.product-item .card-body {
  background-color: #eee;
  padding: 1rem 0;
}
.product-item .product-img {
  position: relative;
}
.product-item .price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.75s;
}
.product-item:hover .actions {
  opacity: 1;
}
.product-item .product-img::before {
  content: '';
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  position: absolute;
  top: 0;
  left: -100%;
  transform: skewX(-30deg);
  transition: all 0.8s;
}
.product-item:hover .product-img::before {
  left: 125%;
}
.product-item .card-title a {
  font-weight: 400;
  font-size: 1.25rem;
  color: #212529;
  transition: all 0.4s ease;
}
.product-item .card-title a:hover {
  color: #2953e8;
  text-decoration: none;
}
.product-item .card-text {
  font-weight: 700;
  margin: 0;
}
.ratings i {
  color: #ffb21e;
  font-size: 14px;
}

.actions .actions-btn {
  gap: 10px;
  position: absolute;
  bottom: 1.1rem;
  left: 17%;
  transform: translateY(15px);
  transition: all 0.75s;
}
.product-item:hover .actions-btn {
  transform: translateY(0);
}
.actions-btn button {
  font-size: 14px;
}
.actions .btn-primary,
#shoppingCart .checkout-btn {
  background-color: #2953e8;
  border-color: #2953e8;
}
.actions .btn-primary:hover,
.actions .btn-primary:focus,
#shoppingCart .checkout-btn:hover,
#shoppingCart .checkout-btn:focus {
  background-color: #1740d4;
  border-color: #163dc8;
}

/* Modal */
#productDetail .detail-title {
  font-weight: 600;
}

/* Cart */
.cart {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 5px;
}
.cart .cart-btn {
  margin-left: 5px;
  position: relative;
}
.cart .cart-btn:focus {
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}
.cart-btn i {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease;
}
.cart-btn:hover i {
  color: #2953e8;
}
.cart .cart-item-qty {
  color: white;
  background: #2953e8;
  display: inline-block;
  height: 16px;
  width: 16px;
  line-height: 16px;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: 0px;
  padding-left: 1px;
}
#shoppingCart .table td,
#shoppingCart .table th {
  vertical-align: revert;
}
#shoppingCart .table td {
  font-size: 14px;
}
#shoppingCart .qty-btn {
  color: white;
  background: #a4a4a4;
  border-radius: 50%;
  font-size: 12px;
  width: 20px;
  height: 20px;
  padding: 0;
}
#shoppingCart .qty-btn:focus {
  box-shadow: none;
}
#shoppingCart .sub-total {
  font-weight: bold;
  text-align: right;
  color: #2953e8;
}
#shoppingCart .table .empty-card-announce {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/* Responsive */
@media screen and (max-width: 1200px) {
  .actions .actions-btn {
    left: 15%;
  }
  .actions-btn button {
    font-size: 12px;
  }
}
@media screen and (max-width: 992px) {
  .navbar-nav {
    gap: 10px;
  }
  .navbar-nav .nav-item {
    font-size: 15px;
  }
  .actions .actions-btn {
    left: 10%;
  }
  .actions-btn button {
    font-size: 9px;
  }
  .product-item .card-title a {
    font-size: 1rem;
  }
  #shoppingCart .table th,
  #shoppingCart .table td {
    font-size: 0.8rem;
  }
  #shoppingCart .qty-btn {
    font-size: 10px;
    width: 16px;
    height: 16px;
  }
  #productDetail .table h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .actions .actions-btn {
    gap: 5px;
    left: 9%;
    bottom: 0.8rem;
  }
  .actions-btn button {
    padding: 5px;
    font-size: 8px;
  }
}
@media screen and (max-width: 576px) {
  .product-item .card-text {
    font-size: 0.9rem;
  }
  .ratings i {
    font-size: 12px;
  }
  #productDetail .modal-title {
    font-size: 1.75rem;
  }
  #productDetail .table h2 {
    font-size: 1.25rem;
  }
  #productDetail .table td {
    font-size: 0.9rem;
  }
  #shoppingCart .table .empty-card-announce {
    font-size: 1.25rem;
  }
  #shoppingCart .modal-footer button {
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 510px) {
  .actions-btn button {
    padding: 5px;
    font-size: 7px;
  }
  #productDetail .table td {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 468px) {
  .actions .actions-btn {
    gap: 3px;
    left: 6%;
    bottom: 0.5rem;
  }
}
@media screen and (max-width: 449px) {
  .actions-btn button {
    padding: 4px;
  }
}
@media screen and (max-width: 437px) {
  .actions-btn button {
    padding: 3px;
  }
}
